electron_mirror=https://npmmirror.com/mirrors/electron/
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
node-linker=hoisted
